
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.Label("Enter Email Address:") @Html.TextBox("email")

    <br />
    @Html.Label("Enter Password:") @Html.TextBox("password", null, new { type = "password" })

    <br />

    <button type="submit"> Submit</button>

}

<p>
    @ViewBag.LoginMessage
</p>


