@model ECommerce.DataLayer.EDMX.RoleMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RoleMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RollName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMaster.cfirstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMaster.cfirstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
